html {
    background-color: whitesmoke;
}

body {
    background-color: #B6D479;
}

.header {
    background: rgba(35, 53, 0, 0.8);
}

h1 {
    text-align: center;
    color     : white;
}

h3 {
    text-align: center;
    color     : white;
}

h4 {
    text-align: center;
    color     : darkred;
}

table {
    width: 100%;
    /*border: 1px solid black;*/
}

th {
    height          : 50px;
    background-color: #4A6A0A;
    color           : white;
}

img {
    vertical-align  : middle;
}

/*.simples_table{*/
    /*border: none;*/
/*}*/

tr:nth-child(even) {
    background-color: #B6D479;
}

tr:nth-child(odd) {
    background-color: #E5F4C6;
}

.win {
    color      : darkgreen;
}

.lose {
    color      : darkred;
}

.draw {
    color      : darkgoldenrod;
}

.splash {
    color      : blue;
}

.no_match {
    color      : red;
    font-weight: bold;
    text-align : center;
}